@import "null.css";

h1 {
    color: red;
}

.text {
    color: blue;
}

#dolor {
    color: chartreuse;
}

/*Приоритетность нанесения стиля по убиыванию приоритетности: Id, class, тег*/

/* Равнозначные классы: приоритетней будет тот класс, что прописан ниже*/
.text {
    color: blue;
}

.text {
    color: darkred;
}
/*------------------------------------------------------------------------------*/
/* УТОЧНЕНИЕ */
.text {
    color: darkred;
}

.text2 {
    color: rgb(23, 0, 139);
}
/*Приоритетность тега меньше, чем приоритетность класса*/
.text2 {
    color: rgb(23, 0, 139);
}

div {
    color: orange;
}
/*Вложенность*/

span {
    color: aqua;
}

p span {
    color: darkorange;
}

/*СЕЛЕКТОРЫ АТРИБУТОВ*/

[title="Селекторы атрибутов"] {
    color: rgb(209, 190, 20);
}

[class*="silence"] {
    color: purple;
}
/*УРОВНИ ВЛОЖЕННОСТИ*/

.flor > p {
    color: rgb(87, 22, 216);
}
/*ОБРАЩЕНИЕ К ПЕРВОМУ СЛЕДУЮЩЕМУ ОБЪЕКТУ ТОГО ЖЕ УРОВНЯ*/
.next + p {
    color: blue;
}
/*ОБРАЩЕНИЕ КО ВСЕМ СЛЕДУЮЩИМ ТОГО ЖЕ УРОВНЯ*/
.all-next ~ p {
    color: rgb(148, 92, 19);
}